# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# misc
.DS_Store
*.pem
*.pptx
Thumbs.db
public/Thumbs.db

# Figma Make 작업용 추출물 (코드와 무관)
design-system-export/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*.local
.env
.env.local

# typescript
*.tsbuildinfo
media-index.log

*.xlsx
*.pdf
